*{
    margin: 0;
    padding: 0;
}
body{
    height: 150vh;
    font-family: sans-serif;
    background-color: rgb(29, 29, 29);
}
label{
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 30px;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.formWrapper {
    width: 600px;
    margin: 0 auto;
}
form {
    margin-top: 10vh;
    background-color: rgb(26, 31, 31);
    height: 85vh;
    display: flex;
    border: 5px solid white;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: lightgrey 0 5 15;
}
.form-group {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: start;    
    width: 100%;
}
input {
    margin-right: 10px;
    width: 450px;
    height: 3vh;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid rgb(172, 158, 158);
    background-color: rgb(220, 236, 231);
    color: rgb(0, 0, 0);
    align-items: center;
}
input:hover {
    border: 2px solid rgb(221, 221, 221);
}
input [type= "text"], input [type= "password"],input [type = "email"] input [type= "number"]{
    width: 100%;
    font-size: medium;
}
textarea {
    margin-right: 10px;
    height: 50vh;
    border: 2px solid rgb(20, 18, 18);
    border-radius: 10px;
    background-color: rgb(210, 219, 216);
    color: rgb(0, 0, 0);
    resize: none;
    width: 100%;
}
textarea:hover, textarea:focus, input:hover, input:focus {
    background-color: rgb(26, 31, 31);
    border-color: white;
    color: white;
    cursor: pointer;
}
#message {
    width: 470px;
    font-size: medium;
    font-family: sans-serif;
}
.buttons {
    margin: 5px;
    align-self: center;
}
.submitBtn, .resetBtn{
    height: 40px;
    width: 60px;
    color: black;
    align-self: center;
}
.submitBtn:hover, .resetBtn:hover {
    color: white;
}
h5 {
    color: rgb(255, 255, 255);
    font-size: larger;
}